body{
  overflow: hidden;
}

.form-box{
  display: flex;
  margin-top: 5rem;
}

.alertbox{
  position: absolute;
  display: flex;
  flex-direction: column;
  top:13%;
  right: 5%;
  height: 50px;
  width: 30%;
  border-radius: 5px;
  animation: left_to_right 0.5s forwards,1s ease-in-out 1s 1 opa;
}

.alerttext{
  display: flex;
  align-items: center;
  height: 90%;
  border-radius: 5px;
}

.alert-content
{
  margin-top: 0.5rem;
  padding: 1rem;
}

.runout{
  height: 13%;
  border-radius: 5px;
}

.runin{
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.alerthid{
  display: none !important;
  animation: none !important;
}


@keyframes left_to_right{
  from{
    right: -100%;
  }
  to{
    right: 5%;
  }
}

@keyframes opa {
  100%{
    visibility: hidden;
  }
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
